<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context">

    <context:annotation-config/>

    <context:component-scan base-package="ua.com.arsen" />

    <bean class="ua.com.arsen.dao.OrderDataAccessObject" />
    <bean class="ua.com.arsen.dao.LocationDataAccessObject" />

    <bean class="ua.com.arsen.dao.TourDataAccessObject" id="tourDaoObject">
        <property name="fake" value="fakeFromSpring" />
    </bean>

    <bean class="ua.com.arsen.dao.CustomerDataAccessObject" />

</beans>